.paper-reg{
    width: 500px;
    /* height: 100vh; */
    border: 5px solid blue;
    /* margin: 50px; */
    padding: 20px;
}
.container{
    background-color: blue;
    margin: 50px;
    /* height: 1000px; */
    background-image: url('C:\Users\SightSpectrum\Pictures\Saved Pictures/4.jpg');
    background-size:contain;
    background-position-y: center;
    /* background-position: 0px; */
    background-repeat: no-repeat;
}